.form {
    text-align: right;
  }

  .form button:disabled{
    cursor: not-allowed;
    background-color: #8b4429;
    border: 1px solid #220b01;
  }
  .form button:disabled:hover{
    cursor: not-allowed;
    background-color: #8b4429;
    border: 1px solid #220b01;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #220b01;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #641e03;
    border-color: #8a2b06;
  }
.error{
  color: red;
  margin-top: 0;
  font-weight: bold;

}.input {
  text-align: center;
  margin: 0 1rem 1rem 0;
}

.input label {
  font-weight: bold;
  margin-bottom: 3rem;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
}




