.input input {
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  margin-left: 0.5rem;
}

.input input:focus,
.input input:active{
  outline: none;
}

.invalid input {
  border: 2px solid red ;
}
